<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <title>{{ title|default('PIE-Hosted Services') }}</title>
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>