{% extends "base.twig" %}

{% block body %}
    <h2>PIE-Hosted Services</h2>
    <p>
        The following services are hosted here, courtesy <a href="https://paragonie.com">Paragon
        Initiative Enterprises</a>.
    </p>
    <ul>
        <li>
            <a href="https://php-chronicle.pie-hosted.com/chronicle">PHP Chronicle</a>{#
                #}&mdash;{#
            #}The Chronicle Instance for the PHP Community
        </li>
    </ul>
{% endblock %}