<div id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="https://paragonie.com">{#
                #}P<span class="hidden-md-down">aragon </span>{#
                #}I<span class="hidden-md-down">nitiative </span>{#
                #}E<span class="hidden-md-down">nterprises</span></a>
        </li>
        <li class="nav-item active dropdown" id="hostedServicesDropdown">
            <a class="nav-link dropdown-toggle" href="https://pie-hosted.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hosted Services <span class="sr-only">(current)</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="hostedServicesDropdown">
                <a class="dropdown-item" href="https://pie-hosted.com">Overview</a>
                <a class="dropdown-item" href="https://php-chronicle.pie-hosted.com">&raquo; PHP Chronicle</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://paragonie.com/services">Our Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://paragonie.com/contact">Contact Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://paragonie.com/blog">Blog</a>
        </li>
    </ul>
</div>
